.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 400%;
  background-color: #000000;
  overflow-x: hidden;
}

.homepage-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  padding: 5rem 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
