@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Quicksand', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #e7e7e7;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #e7e7e7 #000000;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #e7e7e7;
  border-radius: 0px;
  border: 0px none #000000;
}

a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e7e7e7;
}
